/* 
********
IMPORT
********
*/

@use './partials/variables.scss' as *;
@use './partials/reset.scss' as *;
@use './partials/mixins.scss' as *;

/* 
********
COMMON
********
*/

body {
  background-color: $base-color;
  color: $base-font;
  font-family: 'Asap Condensed', sans-serif;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}