/* 
********
IMPORT
********
*/

@use './partials/variables.scss' as *;

/* 
********
RESET
********
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
********
COMMON
********
*/

body {
  background-color: $base-color;
  color: $base-font;
  font-family: 'Asap Condensed', sans-serif;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

@mixin container {
  width: 1600px;
  max-width: 90%;
  margin: 0 auto;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: space-between;
}